header.header 
    .container 
        .row.align-items-center
            .col-3 
                .inner-logo 
                    a(href="/")
                        if generalSetting && generalSetting.logo
                            img(src=generalSetting.logo, alt="Logo")
                        else 
                            span LOGO
            
            .col-5

            .col-4.menu
                ul
                    li 
                        a(href="/") Trang chủ
                    li
                        a(href="/topics") Chủ đề

                    li
                        if currentUser
                            .btn-group
                                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                .dropdown-menu
                                    a.dropdown-item(href='/user/information') Thông tin cá nhân
                                    a.dropdown-item(href='/user/change-password') Đổi mật khẩu
                                    form(action="/user/logout" method="POST")
                                        button(class="dropdown-item") Đăng xuất 
                        else 
                            a(href='/user/login') Đăng nhập