/* CSS cho luôn cao full màn */
.content-box {
    min-height: calc(100vh - 64px);
    padding: 70px;
}

/* Style for the header */
header.header {
    background-color: #fff;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbd8d8;
}

.header .menu ul {
    margin-top: 15px;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .menu ul li {
    margin-left: 10px;
}

.header a:hover {
    text-decoration: none;
}

/* Style for the footer */
footer.footer {
    height: 64px;
    background-color: #212222;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Style for the copyright text */
footer.footer p {
    margin: 0;
    font-size: 14px;
    color: #f3eeee;
}


/* Style for the notification alert */
.notfAlert {
    width: 300px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    align-items: center;
    margin-bottom: 0px;
    position: absolute;
    right: 10px;
    top: 80px;
    z-index: 1001;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    padding-right: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
    white-space: normal;
}

.close-alert-btn {
    border: none;
    font-size: 25px;
    background-color: transparent;

    position: absolute;
    right: 5px;
    top: 0px;
}