i {
    margin-right: 10px;
    margin-bottom: 10px;
}

.singer {
    font-weight: 600;
}

.like {
    color: rgb(73, 73, 255);
}

.liked {
    font-weight: 900;
}

.logged-in {
    cursor: pointer;
}