i {
    margin-right: 10px;
}

.singer {
    font-weight: 600;
}

.like-button {
    color: rgb(73, 73, 255);
}

.liked {
    font-weight: 900;
}

.logged-in {
    cursor: pointer;
}

.love-button {
    color: rgb(226, 53, 53);
}

.loved {
    font-weight: 900;
}

.love,
.singer,
.time {
    margin-bottom: 10px;
}