extends ../../layouts/default.pug

block main 
    .container
        div(style="height: 70px")
        form(action="/user/login" method="POST")
            h2(style="text-align: center") Đăng nhập
            .row
                .col-3 
                .col-6
                    .form-group
                        label(for='email') Email
                        input#email.form-control(type='email' name="email")
            .row
                .col-3 
                .col-6
                    .form-group
                        label(for='password') Mật khẩu
                        input#password.form-control(type='password' name="password")

            .row
                .col-3 
                .col-6(style="display: flex; justify-content: space-between;") 
                    a(href="/user/forgot-password") Quên mật khẩu?
                    a(href="/user/register") Đăng ký

            .row
                .col-3 
                .col-6
                    button.btn.btn-primary(type='submit' style="width: 100%; margin-top: 20px;") Đăng nhập
